<h1><%= @list.name %></h1>

<ul>
  <% @movies.each do |movie| %>
  <li><h4><%= movie.title %></h4>
  <p><%= movie.overview %></p></li>
  <% end %>
</ul>

<%= link_to "✚ Add a new bookmark", new_bookmark_path, class: "text-decoration-none" %>
<p>
<%# <%= link_to "✘ Delete this bookmark", bookmark_path(@bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list?"}, class: 'text-danger' %>
<p>
<%= link_to "↻ Back", :back, class: "text-decoration-none" %>
